<div class="blog-page">
	<div class="table">
		<a href="#" class="ion-backspace back-icon back"></a>
		<img src="{{header_image}}" class="post-header-image"/>
	</div>
	<div class="blog-content">
		
		<div class="post-header-content">
			<div class="post-subtitle">
				{{subtitle}}
			</div>
			<div class="post-date">
				{{date}}
			</div>
			<div class="post-place">
				{{place}}
			</div>
		</div>
		
		<div class="post-content-separator"></div>
		
		<div class="post-content">
			{{content}}
		</div>
	</div>
</div